html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    background-color: #ffe4c4;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: 'Niramit', sans-serif;
}